<p style="text-align: center; page-break-before:always">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «[[company_name]]»</p>
<p style="text-align: center;">ШАРТНОМАИ ҚАРЗИИ №[[loan_document_no]]</p>
<br />
<p>ш.Душанбе [[loan_lend_date]]</p>
<br />
<p>ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «Гаравхонаи Нигин» ки дар асоси Иҷозатномаи [[cashbox_license]] аз тарафи Вазорати Молияи Ҷумҳурии Тоҷикистон додашуда амал мекунад, дар шахсияти мутахассиси амалиётҳои ломбардӣ, [[cashier_name]] ки дар асоси Фармони [[cashier_license]] сол фаъолият менамояд минбаъд «Гаравхона»(Ломбард) номида мешавад, аз як тараф шаҳрванд [[loaner_name]], дорандаи шиносномаи [[loaner_passport_number]], ки аз тарафи [[loaner_passport_issuer]] аз санаи [[loaner_passport_issued_day]]/[[loaner_passport_issued_month]]/[[loaner_passport_issued_year]] сол дода шудааст, [[loaner_residence_address]], РМА [[loaner_tin]], ки минбаъд «Қарзгиранда» ва дар якҷоягӣ «Тарафҳо» номида мешаванд, шартномаи қарзиро дар мавзӯи зерин ба имзо расониданд:</p>
<br />
<p style="text-align: center;">1. МАВЗӮИ ШАРТНОМА</p>
<p>1.1 «Гаравхона» тибқи шартҳои шартномаи қарзӣ ба «Қарзгиранда» бо асъори миллӣ-сомонӣ қарз ба муҳлати то 12 (дувоздаҳ) моҳ пешниҳод менамояд.</p>
<p>1.2 Ҳангоми бастани шартномаи қарзӣ «Гаравхона» бо шарти ба муҳлати то 12 (дувоздаҳ) моҳ баргардонидани қарз ва фоизҳои он ба «Қарзгиранда» қарз медиҳад. «Қарзгиранда» бошад ҷавоҳироти заррини худро, ки бо розигии «Тарафҳо» ҳамчун предмети гарав ҳисобида мешавад, пешниҳод менамояд.</p>
<p>1.3 Руйхати ҷавоҳирот, иёр, вазн ва шумораи он дар варақаи нархгузорие, ки ба шартномаи қарзии мазкур замима мегардад, дарҷ карда мешавад ва ҷузъи ҷудонашавандаи шартнома мебошад.</p>
<p>1.4 Фоизи пардохт мешуда дар як шабонарӯз (24 соат) накамтар аз 10 сомонӣ муқаррар карда шудааст.</p>
<br />
<p style="text-align: center;">2. МУҲЛАТИ АМАЛИ ШАРТНОМА ВА ПАРДОХТИ МАБЛАҒИ ҚАРЗ</p>
<p>2.1 Аз ҷониби «Қарзгиранда» ҳар моҳ ба «Гаравхона» аз маблағи умумии қарзи асосӣ, ки [[loan_initial_sum]] сомониро ташкил медиҳад аз он дар 1 (як) шабонарӯз дар ҳаҷми [[loan_daily_interest_rate]]% ҳисоб ва пардохт карда мешавад, <br />
яъне [[loan_initial_sum]] сомонӣ х [[loan_daily_interest_rate]] х 30 шабонарӯз = [[loan_monthly_interest]] сомонӣ</p>

<p>2.2 Пардохти маблағи қарзи додашуда ва фоизи он аз тарафи «Қарзгиранда» дар муҳлати дар шартномаи қарзӣ муқарраршуда, дар асоси банди 3.4.3 - и шартномаи мазкур амалӣ мешавад.</p>
<p>2.3 Фоизи қарз аз маблағи қарзи гирифташуда дар 1 (як) шабонарӯз бо тартиби зерин ҳисоб карда мешавад:</p>
<p>- ҳангоми аз 1 (як) то 9999 (нуҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ қарз гирифтан ва ё ташкил додани бақияи қарзи асосӣ, меъёри фоиз 0,27% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>- ҳангоми аз 10 000 (даҳ ҳазор) сомонӣ то 14 999 (чордаҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ қарз гирифтан ва ё ташкил додани бақияи қарзи асосӣ, меъёри фоиз 0,23% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>- ҳангоми аз 15 000 (чордаҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ то 19 999 (нуздаҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ қарз гирифтан ва ё ташкил додани бақияи қарзи асосӣ, меъёри фоиз 0,20% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>- ҳангоми аз 20 000 (нуздаҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ зиёд қарз гирифтан ва ё ташкил додани бақияи қарзи асосӣ, меъёри фоиз 0,17% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>2.4 «Қарзгиранда» дар давоми муҳлати амали шартномаи қарзӣ, қарзи асосиро қисман пардохт намояд, пас меъёри фоизи қарз вобаста ба бақияи маблағи қарзи асосии «Қарзгиранда» дар асоси банди 2.3. шартномаи мазкур аз нав ба таври автоматӣ барои муҳлати боқимондаи ҳамин шартнома, ҳисоб карда мешавад.</p>
<br />
<p style="text-align: center;">3.ҲУҚУҚ ВА ӮҲДАДОРИҲОИ ТАРАФҲО</p>
<p>3.1 «Гаравхона» ӯҳдадор аст, ки:</p>
<p>3.1.1. ҳифз ва нигоҳдории амволи ба гарав гирифта шударо дар шакли қабулкардашуда таъмин намояд;</p>
<p>3.1.2. ҷавоҳироти ба гарав гирифташударо баъди ба охир расидани муҳлати амали шартномаи қарзӣ, ё ин ки пурра пардохт намудани маблағи қарзи асосӣ ва фоизҳои он, ба «Қарзгиранда» баргардонад;</p>
<p>3.2. «Гаравхона» ҳуқуқ дорад:</p>
<p>3.2.1. Аз шаҳрвандони Ҷумҳурии Тоҷикистон, инчунини аз шаҳрвандони хориҷӣ ва шахсони бешаҳрванди синнашон ба 18 (ҳаждаҳ) расида дар асоси шиноснома ва (ё) ҳуҷҷати дигари тасдиқкунандаи шахсияти «Қарзгиранда» бо мақсади додани қарзи кӯтоҳмуддат, амволи манқулро ба гарав гирад, ба истиснои амволи манқуле, ки аз муомилот бароварда шудааст ва инчунин амволи манқуле, ки тибқи қонунгузории Ҷумҳурии Тоҷикистон муомилоташ маҳдуд карда шудааст.</p>
<p>3.2.2. Агар «Қарзгиранда» қарзи асосӣ ва фоизҳои ҳисобшудаи онро дар муҳлати муқарраргардида (яъне, 30 (сӣ) рӯзи тақвимӣ) пардохт накунад, «Гаравхона» ҳуқуқ пайдо мекунад, ки баъди ба охир расидани муҳлати имтиёзноки (30 шабонарӯз), як моҳи дигар дар гаравхона нигоҳ дошта, се рӯз пеш аз мӯҳлати амали шартномаи қарзи тавассути смс паёмак огоҳ намудан ҷавоҳироти багаравгузоштаи соҳибмулкро, фурӯхта, маблағи умумии аз фурӯш бадастомадаро ба фоидаи «Гаравхона» гузаронад.</p>
<p>3.2.3. «Қарзгиранда»-ро оиди сари вақт пардохт намудани қарзи асосӣ ва фоизҳои қарз тариқи телефонӣ ва смс паёмакҳо, тавассуми кормандони «Гаравхона» хабар диҳад ва ё огоҳ намояд;</p>
<p>3.3 «Қарзгиранда» ҳуқуқ дорад:</p>
<p>3.3.1. Ба «Гаравхона» ҷавоҳироти зарринашро ҳамчун гарав пешниҳод намояд ва дар ивазаш баъд аз баҳогузорӣ аз ҷониби «Гаравхона» қарзи кутоҳмуддат ба муҳлати муқарраршудаи ҳамин шартнома аз «Гаравхона» бо асъори миллӣ-сомонӣ қарз гирад.</p>
<p>3.3.2. Пардохти маблағи қарзи асосӣ ва фоизҳои онро ба таври аннуитетӣ, дифференсӣ ва ё стандартӣ ба роҳ монад.</p>
<p>3.3.3. Дилхоҳ вақт пурра қарзашро бо фоизҳои то рузи пардохт ҳисобшуда пардозад, ё ин ки аз қарзи асосӣ қисми онро пардохт намуда, маблағи қарзи асосиашро дар назди «Гаравхона» кам намояд.</p>
<p>3.4 «Қарзгиранда» уҳдадор аст:</p>
<p>3.4.1. Рақами телефон ва дигар маълумотҳоро дар шартномаи мазкур дуруст қайд намояд.</p>
<p>3.4.2. Ҳангоми дархости маблағи қарз доғи судӣ, ё дигар омиле, ки метавонад барои иҷрои уҳдадориҳои дар шартнома пешбинишуда монеа шавад, надошта бошад.</p>
<p>3.4.3. Фоизи подошпулие, ки дар банди 2.1-и шартномаи мазкур дарҷгардидаи ҳисобшуда аз маблағи қарзи асосии гирифташуда, ҳармоҳа ва сари вақт ба хазинаи «Гаравхона» супорида, пардохт намояд</p>
<p>3.4.4. Қарзгиранда уҳдадор аст ба қарздиҳанда маблағи гирифтаашро тибқи мӯҳлат ва тартиби пешбининамудаи шартнома баргардонад.</p>
<br />
<p style="text-align: center;">4. МАСЪУЛИЯТИ ТАРАФҲО</p>
<p>4.1 Дар ҳолат иҷро нагардидани шартҳои шартномаи қарзӣ бо сабабҳои ҳолатҳои рафънопазир (форс-мажор: офати табиӣ, фавтидан), муҳлати шартномаи қарзӣ аз нав дида баромада мешавад.</p>
<br />
<p style="text-align: center;">5. ҲОЛАТҲОИ ФОРС-МАЖОР</p>
<p>5.1 «Тарафҳо» уҳдадор мебошанд, ки ҳангоми ба амал омадани ҳолатҳои рафънопазир (форс-мажор) дар муҳлати на дертар аз 15 (понздаҳ) рузи то ба охир расидани муҳлати шартномаи қарзӣ, якдигарро тариқи хаттӣ огоҳ намоянд.</p>
<p>5.2 «Тарафҳо» бо шартҳои шартномаи мазкур шинос шуданд ва ягон даъво ё илова надоранд.</p>
<br />
<p style="text-align: center;">6. ҲОЛАТҲОИ ДИГАР</p>
<p>6.1 Тарафҳо ҳамаи тадбирҳоро барои ҳалли баҳсҳо ва нофаҳмиҳои дар рафти иҷрои Шартнома  меомадаро бо роҳи мусолиҳатомезона  ба роҳ мемонанд.</p>
<p>6.2 Дар сурати ба мувофиқа наомадани Тарафҳо баҳс мутобиқи қонунҳои амалкунанда баррасӣ карда мешавад.</p>
<p>Шартномаи мазкур дар ду нусха, ки ҳар яке қувваи ҳуқуқии баробар доранд, барои ҳар ду тараф тартиб дода шудааст.</p>
<p><strong>Дар ҳолате, ки «Қарзгиранда» қарзи асосӣ ва фоизҳои ҳисобшудаи қарзро пардохт намекунад, «Гаравхона» масъул аст ва ҳуқуқ дорад ҷавоҳироти багаравгузошташударо фурӯхта, маблағи умумии онро ба фоида «Гаравхона» гузаронад.</strong></p>
<br />
<p style="text-align: center;">МУШАХХАСОТИ ТАРАФҲО:</p>
<p>«Гаравхона» <span style="float: right;">«Қарзгиранда»</span></p>
<p>[[cashier_name]]_________ <span style="float: right;">[[loaner_name]]___________</span></p>
<p>(ном ва насаб,имзо) <span style="margin-left: 30%">Ҷ.М.</span> <span style="float: right;">(ном ва насаб, имзо)</span></p>
<br />
<br />
<br />
<p style="text-align: center; page-break-before:always">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «Гаравхонаи Нигин» ОИДИ НАРХГУЗОРИИ ГАРАВИ ҚАБУЛШУДА (ТИЛЛОВОРӢ, ҶАВОҲИРОТ ВА САНГҲОИ ҚИММАТНОК)</p>
<p style="text-align: center;">БАРОИ ГИРИФТАНИ ҚАРЗ АЗ ГАРАВХОНА</p>
<br />
<table width="100%" class="table-bordered" cellspacing="0" cellpadding="0" border="1">
	<tbody>
		<tr>
			<td> № </td>
			<td> Номгӯи гарав </td>
			<td> Тамғаи маҳак (проба) </td>
			<td> Шумора </td>
			<td> Вазни умум </td>
			<td> Вазни тоза </td>
			<td> Нархи умумии гарав </td>
			<td> Ҳолати гарави истифодашуда </td>
		</tr>
        <tr>
			<td>1</td>
            <td>[[jewelry_1_name]]</td>
			<td>[[jewelry_1_purity]]</td>
			<td>[[jewelry_1_count]]</td>
			<td>[[jewelry_1_weight]]</td>
			<td>[[jewelry_1_pure_weight]]</td>
			<td>[[jewelry_1_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>2</td>
            <td>[[jewelry_2_name]]</td>
			<td>[[jewelry_2_purity]]</td>
			<td>[[jewelry_2_count]]</td>
			<td>[[jewelry_2_weight]]</td>
			<td>[[jewelry_2_pure_weight]]</td>
			<td>[[jewelry_2_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>3</td>
            <td>[[jewelry_3_name]]</td>
			<td>[[jewelry_3_purity]]</td>
			<td>[[jewelry_3_count]]</td>
			<td>[[jewelry_3_weight]]</td>
			<td>[[jewelry_3_pure_weight]]</td>
			<td>[[jewelry_3_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>4</td>
            <td>[[jewelry_4_name]]</td>
			<td>[[jewelry_4_purity]]</td>
			<td>[[jewelry_4_count]]</td>
			<td>[[jewelry_4_weight]]</td>
			<td>[[jewelry_4_pure_weight]]</td>
			<td>[[jewelry_4_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>5</td>
            <td>[[jewelry_5_name]]</td>
			<td>[[jewelry_5_purity]]</td>
			<td>[[jewelry_5_count]]</td>
			<td>[[jewelry_5_weight]]</td>
			<td>[[jewelry_5_pure_weight]]</td>
			<td>[[jewelry_5_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>6</td>
            <td>[[jewelry_6_name]]</td>
			<td>[[jewelry_6_purity]]</td>
			<td>[[jewelry_6_count]]</td>
			<td>[[jewelry_6_weight]]</td>
			<td>[[jewelry_6_pure_weight]]</td>
			<td>[[jewelry_6_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>7</td>
            <td>[[jewelry_7_name]]</td>
			<td>[[jewelry_7_purity]]</td>
			<td>[[jewelry_7_count]]</td>
			<td>[[jewelry_7_weight]]</td>
			<td>[[jewelry_7_pure_weight]]</td>
			<td>[[jewelry_7_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>8</td>
            <td>[[jewelry_8_name]]</td>
			<td>[[jewelry_8_purity]]</td>
			<td>[[jewelry_8_count]]</td>
			<td>[[jewelry_8_weight]]</td>
			<td>[[jewelry_8_pure_weight]]</td>
			<td>[[jewelry_8_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>9</td>
            <td>[[jewelry_9_name]]</td>
			<td>[[jewelry_9_purity]]</td>
			<td>[[jewelry_9_count]]</td>
			<td>[[jewelry_9_weight]]</td>
			<td>[[jewelry_9_pure_weight]]</td>
			<td>[[jewelry_9_price]]</td>
			<td>Истифодашуда</td>
		</tr>
        <tr>
			<td>10</td>
            <td>[[jewelry_10_name]]</td>
			<td>[[jewelry_10_purity]]</td>
			<td>[[jewelry_10_count]]</td>
			<td>[[jewelry_10_weight]]</td>
			<td>[[jewelry_10_pure_weight]]</td>
			<td>[[jewelry_10_price]]</td>
			<td>Истифодашуда</td>
		</tr>
	</tbody>
</table>
<br />
<p>БАҲОГУЗОР: [[cashier_name]] <span style="float:right;">ИМЗО:____________</span></p>
<br/>
<p>ҚАРЗГИРАНДА: [[loaner_name]] <span style="float:right;">ИМЗО:____________</span></p>
<br/>
<p>[[loan_lend_date]] аз хазина <span style="margin-left: 30%;">Ҷ.М. </span></p>
<br/>
<p>Фоизи моҳона:[[loan_monthly_interest]]</p>
<br />
<br />
<p style="text-align: center;">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «Гаравхонаи Нигин»</p>
<p style="text-align: center;">[[loan_lend_date]]</p>
<p style="text-align: center;">ОРДЕРИ ХАРОҶОТИ №[[loan_document_no]]</p>
<p>Дода шавад ба [[loaner_name]] Аз рӯи шиносномаи [[loaner_passport_number]] аз тарафи [[loaner_passport_issuer]] аз [[loaner_passport_issued_day]]/[[loaner_passport_issued_month]]/[[loaner_passport_issued_year]]</p>
<p>Асос: Шартномаи қарзии №[[loan_document_no]] аз [[loan_lend_date]]</p>
<p>Мавзӯи амалиёт: ҚАРЗИ ЛОМБАРДӢ</p>
<br />
<table width="100%" class="table-bordered" cellspacing="0" cellpadding="0" border="1">
	<tbody>
		<tr>
			<td> Дебет Суратҳисоби № </td>
			<td> Кредит Суратҳисоби № </td>
			<td> Рамзи асъор (сомонӣ) </td>
			<td> Маблағи асъор (сомонӣ) </td>
			<td> Маблағи асъор бо ҳарф </td>
		</tr>
		<tr>
			<td><br /></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<br />
<p> Маблағро додам: [[cashier_name]] _____________ <span style="float:right">Гирифтам__________________</span></p>
<p>(ном ва насаб, имзо) <span style="margin-left: 30%;">Ҷ.М.</span> <span style="float: right;">(ном ва насаб, имзо)</span></p>
<br />

<p style="text-align: center; page-break-before:always">ӮҲДАДОРИҲОИ «ҚАРЗГИР»</p>
<br />
<p>Ман [[loaner_name]], дорандаи шиносномаи [[loaner_passport_number]] аз Гаравхонаи «Гаравхонаи Нигин» (Минбаъд Гаравхона) маблағи қарз дар Ҳаҷми [[loan_initial_sum]] ___________________________________________________________сомонӣ (минбаъд маблағи қарз) дар асоми Шартномаи №[[loan_document_no]] (минбаъд маблағи қарзӣ) гирифтам.</p>
<p>Аз санаи гирифтани маблағи қарз ва то пардохти он ман ӯҳдадорам:</p>
<p>1. Тамоми шартҳои дар Шартномаи қарзӣ пешбинишударо риоя ва иҷро намоям;</p>
<p>2. Фоизи қарзро саривақт ва дар муҳлати Шартномаи қарзӣ пешбинишуда пардохт намоям;</p>
<p>3. Ҳангоми маҷруҳ, бемор ё дигар ҳолатҳои форс-мажорӣ, ки барои ҳозир шудани ман дар Гаравхона монеа мешаванд, кормандони масъули Гаравхонаро хабардор намоям ва агар зарурияти пардохти фоизи қарз омада бошад, онро тавассути шахсони наздики худ пардохт намоям;</p>
<p>4. Ҳангоми пурра пардохт кардани маблағи қарз ва фоизҳои он гарави дар Гаравхона гузошташударо шахсан худам ё намояндаи ман тавасути боваринома бо имзои ман ҳуқуқ дорад бигирад;</p>
<p>5. Ҳангоми сари вақт ва дар муҳлати дар Шартномаи қарзӣ пешбинишуда пардохт накардани фоизи маблағи қарзи гирифташуда розиям, ки Гаравхона гарави аз тарафи ман гузошташударо фурухта маблағ аз фурӯши онро пурра ба фоидаи Гаравхона ворид намояд;</p>
<p>6. Ман розиям, ки Ломбард «Нигин» оиди супоридани фоизи қарз тариқи занги телефонӣ ё смс паёмак манро огоҳ намояд;</p>
<p><strong>Ба қонунҳои амалкунандаи Ҷумҳурии Тоҷикистон дар бораи фаъолияти Гаравхонаҳо (Ломбард) шинос ҳастам</strong></p>
<p><strong>Дурустии рақами телефонро тасдиқ ва кафолат медиҳам.</strong></p>
<br />
<p>САНА: [[loan_lend_date]] <span style="float: right;">ИМЗО_____________________</span></p>
<br />
<p><strong>Гарави гузошташуда як рӯз пас аз пардохт кардани фоиз ва маблағи қарз гирифта мешавад.</strong></p>
<br />
<img src="[[image]]" style="width: 500px; height: 500px" />
