<p style="text-align: center; page-break-before:always">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «ГАРАВХОНАИ НИГИН»</p>
<p style="text-align: center;">ШАРТНОМАИ ҚАРЗИИ №[[loan_document_no]]</p> <br />
<p>ш.Душанбе [[loan_lend_date]]</p> <br />

<p>  ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «ГАРАВХОНАИ НИГИН» ки дар асоси Иҷозатномаи [[cashbox_license]] аз тарафи Вазорати Молияи Ҷумҳурии Тоҷикистон додашуда амал мекунад,
    дар шахсияти мутахассиси амалиётҳои гаравхона,  ки дар асоси қаррори  Муассиси Ҷамъият аз [[cashier_license]]  амал мекунад
    минбаъд        «ГАРАВХОНА»        номида      мешавад,
    аз   як   тараф      ва   шахси         воқеӣ  [[loaner_name]]            рақами Шиноснома  [[loaner_passport_number]], аз тарафи [[loaner_passport_issuer]] аз [[loaner_passport_issued_day]]/[[loaner_passport_issued_month]]/[[loaner_passport_issued_year]]
    дода шудааст истиқоматкунандаи  [[loaner_residence_address]]  ва рақами телефон [[loaner_phone1]], ки минбаъд «ҚАРЗГИРАНДА» номида мешавад,
    аз дигар тараф ва ҳар ду дар якҷоягӣ, ки «ТАРАФҲО» номида мешаванд, дар ин хусус шартнома бастанд. </p> <br />

<p style="text-align: center;">1. МАВЗӮИ ШАРТНОМА</p>
<p>1.1 Ҳангоми бастани шартномаи қарзӣ -Қарзгиранда бояд амволи манқулашро дар Идораи бозрасии давлатии автомобилӣ аз номи худаш аз қайд бароварда ба номи “Гаравхона” ва ё ба номи намояндаи “Гаравхона” амволи худро аз нав бақайд мегирад, ки бо розигии “Тарафҳо” ҳамчун предмети гарав ҳисобида мешавад. (истисно)</p>
<p>1.2 Ба сифати гарави гузошташуда воситаи нақлиёти автомобилии тамғаи [[vehicle_brand]] соли бароришаш [[vehicle_year]] ва рақами давлатиаш [[vehicle_plate_number]] баромад мекунад.</p>
<p>1.3 «ГАРАВХОНА» уҳдадор мебошад, ки ба Қарзгиранда бо тартиби зерин қарзи кутоҳмӯхлат пешниҳод намояд: Маблағи [[loan_initial_sum]] сомони ба мӯҳлати 365 рӯз. </p>
<p>1.4 Меъёри фоиз [[loan_daily_interest_rate]] % бар ҳар рӯз барои маблағи қарзи гирифташуда ҳисобида мешавад.</p>
<p>1.5 Фоизи пардохт мешуда аз маблағи қарзи гирифташуда муқаррар карда мешавад.</p>
<br />
<p style="text-align: center;">2. ӮҲДАДОРИҲОИ «ҚАРЗГИР»</p>
<p>2.1 «ҚАРЗГИР» ӯхдадор аст, ки дар ҳолати аз «ГАРАВХОНА» дархост намудани маблағи қарз, гарав пешниҳод намояд.</p>
<p>2.2 «ҚАРЗГИР» бояд дар ҳолати дархости маблағи қарз бевосита шахсан соҳибмулки гарав бошад.</p>
<p>2.3 «ҚАРЗГИР» бояд дар якчоягӣ бо Қарздиҳанда воситаи нақлиёти худро аз қайди Идораи нотарялии давлатии ноҳия  гузаронида ҳуҷҷатҳои қонунии нақлиётро ба роҳ гузоранд.</p>
<p>2.4 2.4  Амалиёти гаравхона ҳамон вақт оғоз шуда ҳисобида мешавад, ки агар аз тарафи мутахассисони «ГАРАВХОНА» аз хазина ба «ҚАРЗГИР» маблағи нақдӣ дода шавад. Ба сифати пардохти саривактии маблағи қарз ва фоизҳои он «ҚАРЗГИР» ба «ГАРАВХОНА» гарав месупорад ва он дар санади нархгузории воситаи нақлиёт қайд шуда, қисми ҷудонашавандаи шартномаи мазкур ҳисобида мешавад.</p>
<br />
<p style="text-align: center;">3. МУҲЛАТИ АМАЛИ ШАРТНОМА ВА ПАРДОХТИ ФОИЗИ ГАРАВХОНА </p>
<p>3.1 Ҳисоби фоизи қарз аз рӯзи аввали маблағи қарзро гирифтан оғоз шуда, бояд ҳар моҳа (30 рӯз) фоизи он пардохт карда шавад. Дар ҳолати қисман кам кардани маблағи қарз, фоизи он аз бақияи маблағи қарз ҳисоб карда мешавад.</p>
<p>3.2 Маблағи қарз  на дертар аз муҳлати дар банди 1.3 –и шартномаи мазкур нишондодашуда пардохт карда мешавад.</p>
<p>3.3 Ҳисоби фоизи гаравхона ва пардохти он бо асъори дар банди 1.3–и шартномаи мазкур нишондодашуда, амали карда мешавад.</p>
<p>3.4 «ҚАРЗГИР» ӯхдадор аст, ки маблағи қарзи гаравхона ва фоизҳои онро танҳо бо тариқи нақдӣ ба хазинаи нуқтаи «ГАРАВХОНА» баргардонад.</p>
<p>3.5 Аз ҷониби “Қарзгиранда” ҳар моҳ ба “Гаравхона” аз маблағи умумии қарзи асоси, ки  [[loan_initial_sum]] сомони ташкил медиҳад, ки аз он дар як шабонарӯз подошпули дар ҳаҷми [[loan_daily_interest_rate]] ҳисоб ва пардохт карда мешавад. </p>
<p>3.6 Фоизи қарз аз маблағи қарзи гирифташуда дар 1 (як) шабонарӯз бо тартиби зерин ҳисоб карда мешавад:</p>
<p>- ҳангоми аз 1 (як) то 1999 (як ҳазору нуҳсаду наваду нуҳ) сомонӣ қарз гирифтан ва ё ташкил додани бақияи қарзи
    асосӣ, меъёри фоиз 7,1% дар 30 (сӣ) шабонарӯз ва ё 0,2366% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>- ҳангоми аз 2 000 (ду ҳазор) сомонӣ то 9 999 (нуҳ ҳазору нуҳсаду наваду нуҳ) сомонӣ қарз гирифтан ва ё ташкил додани
    бақияи қарзи асосӣ, меъёри фоиз 6,5% дар 30 (сӣ) шабонарӯз ва ё 0,2166% дар 1 (як) шабонарӯз ҳисоб карда мешавад.
</p>
<p>- ҳангоми аз 10 000 (даҳ ҳазор) сомонӣ зиёд қарз гирифтан ва ё ташкил додани бақияи қарзи асосӣ, меъёри фоиз меъёри
    фоиз 6,0% дар 30 (сӣ) шабонарӯз ва ё 0,20% дар 1 (як) шабонарӯз ҳисоб карда мешавад.</p>
<p>2.4 «Қарзгиранда» дар давоми муҳлати амали шартномаи қарзӣ, қарзи асосиро қисман пардохт намояд, пас меъёри фоизи
    қарз вобаста ба бақияи маблағи қарзи асосии «Қарзгиранда» дар асоси банди 2.3. шартномаи мазкур аз нав ба таври
    автоматӣ барои муҳлати боқимондаи ҳамин шартнома, ҳисоб карда мешавад.</p>
<br />
<p style="text-align: center;">4.ҲУҚУҚ ВА ӮҲДАДОРИҲОИ ТАРАФҲО</p>
<p>4.1 «ГАРАВХОНА» ӯҳдадор аст, ки:</p>
<p> - ҳифз ва нигоҳдории амволи ба гарав гирифта шударо дар шакли қабул кардашуда таъмин намояд; </p>
<p> - амволи ба гарав гирифташударо баъди ба охир расидани мӯҳлати шартномаи қарзӣ, инчунин пардохт намудани маблағи қарз ва фоизҳои он ба «ҚАРЗГИР» баргардонад; </p>
<p> - фаъолияти худро дар асоси Оинома «Оиди фаъолияти гаравхона» ва қонунҳои Ҷумҳурии Тоҷикистон ба роҳ монад. </p>
<p>4.2. «ГАРАВХОНА» ҲУҚУҚ ДОРАД:</p>
<p> - аз «ҚАРЗГИР» иҷрои ҳамаи талаботҳои дар шартномаи қарзӣ нишондодашударо талаб намояд; </p>
<p> - ҳангоми аз тарафи «ҚАРЗГИР» баргардонидани маблағи пулӣ, дар навбати аввал маблағи воридшударо барои пардохти фоизҳо ва боқимондаашро барои пардохти маблағи қарз равона намояд;</p>
<p> - ҳангоми аз тарафи “Қарзгир” дар муҳлати муқаррагардида напардохтани қарз ва фоизҳои он гарави гузошташуда ба ихтиёри “Гаравхона” мегузарад; </p>
<p> - дар ҳолати пеш аз муҳлат баргардонида шудани маблағи қарз, агар фоизи қарз аз 10 (даҳ) рӯз камтар бошад “Гаравхона” ҳуқуқ дорад фоизи онро ба мӯҳлати 10 (даҳ) рӯз аз ҷониби қарзгиранда ситонад; </p>
<p> - “Гаравхона” ҳуқуқ дорад “Қаргир”-ро оиди супоридани фоизи қарз тариқи занги телефонӣ огоҳ намояд; </p>
<p> -“Гаравхона ” ҳуқуқ дорад ба рақами мобилии “Қарзгир” смс-паёмак (смс-сообщение) барои хотиррасон кардани “Қарзгир” оиди супоридани фоизи қарз ирсол намояд; </p>
<p>4.3 «ҚАРЗГИР» ӯҳдадор мебошад, ки: </p>
<p> - ҳамаи шартҳои дар банди 2-и шартномаи қарзӣ нишон додашударо иҷро намояд.</p>
<p>4.4 «ҚАРЗГИР» ҳуқуқ дорад:</p>
<p> - ҳангоми пешниҳоди амволи ба гарав гузошташаванда, маблағи қарзӣ гирад; </p>
<p> - амволи ба гарав гузошташудаашро  ҳангоми пардохт намудани маблағи қарзӣ ва фоизҳои он бозпас гирад;</p>
<p> - “Қарзгир” розӣ аст, ки ӯро оиди супоридани фоизи қарз тариқи занги телефонӣ огоҳ намояд;</p>
<p> -  “Қарзгир” розӣ аст, ки барои хотиррасон кардан ба рақами мобилии ӯ смс-паёмак ирсол карда шавад;</p>
<p> - “Қарзгир” дурустии рақами телефонро тасдиқ ва кафолат медиҳад. </p>
<br />
<p style="text-align: center;">5.ҲУҚУҚ ВА ӮҲДАДОРИҲОИ ТАРАФҲО</p>
<p>5.1 Дар ҳолати иҷро нагардидани қисми шартҳои шартномаи қарзӣ бо сабабҳои форс-мажорӣ, муҳлати шартнома аз нав дида баромада мешавад (ба ҳолатҳои форс-мажорӣ офатҳои табии дохил мешаванд). </p>
<p>5.2 Тарафҳо вазифадоранд, ки ҳангоми ба амал омадани ҳолатҳои форс-мажорӣ дар муҳлати на дертар аз 3 (се) рӯзи ба охир расидани муҳлати шартномаи гаравхона якдигарро бо тариқи хаттӣ ё шифоҳӣ (телефонӣ) огоҳ намоянд. </p>
<p>5.3 Тарафҳо бо шартҳои шартномаи мазкур шинос карда шуданд ва ягон даъво ё илова надоранд. Шартномаи мазкур дар ду нусха, ки ҳар яке эътибори ягонаи ҳуқуқӣ дорад, барои ҳар ду тараф тартиб дода шудааст.</p>
<p>5.4 Дар ҳолате, ки «ҚАРЗГИР»  фоизи якмоҳаи ҳисобшударо пардохт накарда, боз 30 (си) рӯзи дигар рӯзҳои иловашударо яъне ба муҳлати 60 рӯз пардохт нанамояд, аз ҷониби мутахассисони ГАРАВХОНА бо тариқи ОГОҲИНОМА огоҳ сохта воситаи нақлиёти ба гарав гузоштааш аз ҷониби «ГАРАВХОНА» фурӯхта шуда, ҳамаи маблағи умум ба фоидаи «ГАРАВХОНА» гузаронида мешавад. </p>


<br />
<p style="text-align: center;">МУШАХХАСОТИ ТАРАФҲО:</p>
<p>«ГАРАВХОНА» <span style="float: right;">«ҚАРЗГИР»</span></p>
<p>[[cashier_name]]_________ <span style="float: right;">[[loaner_name]]___________</span></p>
<p>(ном ва насаб,имзо) <span style="margin-left: 30%">Ҷ.М.</span> <span style="float: right;">(ном ва насаб,
        имзо)</span></p> <br /> <br /> <br />
<p style="text-align: center; page-break-before:always">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «ГАРАВХОНАИ НИГИН » ОИДИ НАРХГУЗОРИИ ҚАБУЛШУДАИ ГАРАВ ( ВОСИТАИ НАҚЛИЁТ)</p>
<p style="text-align: center;">БАРОИ ГИРИФТАНИ ҚАРЗ АЗ ГАРАВХОНА</p> <br />
<table width="100%" class="table-bordered" cellspacing="0" cellpadding="0" border="1">
    <tbody>
    <tr>
        <th>Навъи автомобил</th>
        <td> [[vehicle_brand]] </td>
    </tr>
    <tr>
        <th>Рақами автомобил</th>
        <td> [[vehicle_plate_number]] </td>
    </tr>
    <tr>
        <th>Нархгӯзорӣ</th>
        <td> [[loan_initial_sum]] </td>
    </tr>
    <tr>
        <th>Километри тайкардашуда</th>
        <td> [[vehicle_mileage]] </td>
    </tr>
    <tr>
        <th>Бо сузишвории</th>
        <td> [[vehicle_gas]] </td>
    </tr>
    <tr>
        <th>Қутии фишангӣ</th>
        <td> [[vehicle_transmission]] </td>
    </tr>
    <tr>
        <th>Ҳаҷми муҳаррик</th>
        <td> [[vehicle_engine]] </td>
    </tr>
    <tr>
        <th>Соли барориш</th>
        <td> [[vehicle_year]] </td>
    </tr><tr>
        <th>Нуқсон</th>
        <td> [[vehicle_description]] </td>
    </tr>
    </tbody>
</table> <br />
<p>НАРХГУЗОР: [[cashier_name]] <span style="float:right;">ИМЗО:____________</span></p> <br />
<p>ҚАРЗГИР: [[loaner_name]] <span style="float:right;">ИМЗО:____________</span></p> <br />
<p>[[loan_lend_date]] аз хазина <span style="margin-left: 30%;">Ҷ.М. </span></p> <br />
<p>Фоизи моҳона:[[loan_monthly_interest]] сомонӣ</p>
<p>Фоизи рӯзона:[[loan_daily_interest]] сомонӣ</p> <br /> <br />
<p style="text-align: center;">ҶАМЪИЯТИ ДОРОИ МАСЪУЛИЯТИ МАҲДУДИ «ГАРАВХОНАИ  НИГИН»</p>
<p style="text-align: center;">[[loan_lend_date]]</p>
<p style="text-align: center;">ОРДЕРИ ХАРОҶОТИ №[[loan_document_no]]</p>
<p>Дода шавад ба [[loaner_name]] Аз рӯи шиносномаи [[loaner_passport_number]] аз тарафи [[loaner_passport_issuer]] аз
    [[loaner_passport_issued_day]]/[[loaner_passport_issued_month]]/[[loaner_passport_issued_year]]</p>
<p>Асос: Шартномаи қарзии №[[loan_document_no]] аз [[loan_lend_date]]</p>
<p>Мавзӯи амалиёт: ҚАРЗИ ГАРАВХОНА</p> <br />
<table width="100%" class="table-bordered" cellspacing="0" cellpadding="0" border="1">
    <tbody>
    <tr>
        <td> Дебет Суратҳисоби № </td>
        <td> Кредит Суратҳисоби № </td>
        <td> Рамзи асъор (сомонӣ) </td>
        <td> Маблағи асъор (сомонӣ) </td>
        <td> Маблағи асъор бо ҳарф </td>
    </tr>
    <tr>
        <td><br /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table> <br />
<p> Маблағро додам: [[cashier_name]] _____________ <span style="float:right">Гирифтам__________________</span></p>
<p>(ном ва насаб, имзо) <span style="margin-left: 30%;">Ҷ.М.</span> <span style="float: right;">(ном ва насаб,
        имзо)</span></p> <br />
<p style="text-align: center; page-break-before:always">ӮҲДАДОРИҲОИ «ҚАРЗГИР»</p> <br />
<p>Ман [[loaner_name]], дорандаи шиносномаи [[loaner_passport_number]] аз «Гаравхонаи Нигин» (Минбаъд Гаравхона)
    маблағи қарз дар ҳаҷми [[loan_initial_sum]] ___________________________________________________________сомонӣ
    (минбаъд маблағи қарз) дар асоми Шартномаи №[[loan_document_no]] (минбаъд маблағи қарзӣ) гирифтам.</p>
<p>Аз санаи гирифтани маблағи қарз ва то пардохти он ман ӯҳдадорам:</p>
<p>1. Тамоми шартҳои дар Шартномаи қарзӣ пешбинишударо риоя ва иҷро намоям; </p>
<p>2. Фоизи қарзро саривақт ва дар муҳлати Шартномаи қарзӣ пешбинишуда пардохт намоям;</p>
<p>3. Ҳангоми маҷруҳ, бемор ё дигар ҳолатҳои форс-мажорӣ, ки барои ҳозир шудани ман дар Гаравхона монеа мешаванд, кормандони масъули Гаравхонаро хабардор намоям ва агар зарурияти пардохти фоизи қарз омада бошад,онро тавассути шахсони наздики худ пардохт намоям; </p>
<p>4. Ҳангоми пурра пардохт кардани маблағи қарз ва фоизҳои он гарави дар Гаравхона гузошташударо худам бигирам ва ҳеҷ шахси дигар ҳаққи гирифтани онро надорад ё ин , ки бо тариқи Боваринома бо шахсе, ки розигӣ медихам дода шавад; </p>
<p>5. Ҳангоми сари вақт ва дар муҳлати дар Шартномаи қарзӣ пешбинишуда пардохт накардани фоизи маблағи қарзи гирифташуда
    розиям, ки Гаравхона гарави аз тарафи ман гузошташударо фурухта маблағ аз фурӯши онро пурра ба фоидаи Гаравхона
    ворид намояд;</p>
<p>6. Ман розиям, ки “ Гаравхонаи Нигин” оиди супоридани фоизи қарз тариқи занги телефонӣ манро огоҳ намод;</p>
<p>7. Ман розиям, ки аз тарафи “ Гаравхонаи Нигин” барои хотиррасон кардан ба рақами телефони мобилиям смс-паёмак ирсол карда шавад.</p>
<p><strong>Ба қонунҳои амалкунандаи Ҷумҳурии Тоҷикистон дар бораи фаъолияти Гаравхонаҳо (Ломбард) шинос ҳастам</strong>
</p>
<p><strong>Дурустии рақами телефонро тасдиқ ва кафолат медиҳам.</strong></p> <br />
<p>САНА: [[loan_lend_date]] <span style="float: right;">ИМЗО_____________________</span></p> <br />
<p><strong>Гарави гузошташуда як рӯз пас аз пардохт кардани фоиз ва маблағи қарз гирифта мешавад.</strong></p> <br />
<img src="[[image]]" style="width: 500px; height: 500px" />
