<p style="padding: 0; margin: 0; text-align:center; font-weight:bold; text-transform: uppercase;">[[company_name]]</p>
<p style="padding: 0; margin: 0; text-align:center; font-weight:bold; text-transform: uppercase;">Расид</p>
<p style=" padding: 0; margin: 0; text-align:center">ба ордери даромадӣ</p>
<p style="padding:0; margin: 0">[[cashbox_name]]</p>
<p style="padding:0; margin: 0">Қабул шуд аз: [[loaner_name]]</p>
<p style="padding:0; margin: 0">Асос: <strong>Шартномаи қарзии №[[loan_document_no]]</strong></p>
<p style="padding:0; margin: 0">Маблағи асосӣ: <strong>[[principal_sum]] сомонӣ 00 дирам</strong></p>
<p style="padding:0; margin: 0">Фоиз: <strong>[[interest_sum]] сомонӣ 00 дирам</strong></p>
<p style="padding:0; margin: 0">Қарзи боқимонда: <strong>[[loan_left_sum]] сомонӣ 00 дирам</strong></p>
<div>[[payment_date}]} <span style="float:right">Имзо: _______________</div></div>
<p style="padding: 0; margin: 0; text-align:center">Сармуҳосиб:</p>
<p style="padding: 0; margin: 0;  text-align:center">Хазинадор:</p>
<p style="border-bottom: 1px dashed #ccc; height: 16px;">&nbsp;</p>