body {
    margin: 0px !important;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

div {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.header {
    background-color: #00B7EB;
}

.hero{
    background-color: #FF0000;
}

.content {
    background-color: #00FF00;
}

.sidebar {
    background-color: #800080;
}

.footer {
    background-color: #444444;
}

.main {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    body {
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .content {
        flex: 3;
    }

    .sidebar {
        flex: 1;
    }
}