body {
    margin: 0px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

div {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
}

.header {
    background-color: #00B7EB;
}

.hero {
    background-color: #FF0000;
}

.content {
    background-color: #00FF00;
}

.sidebar {
    background-color: #800080;
}

.footer {
    background-color: #444444;
}

.main {
    display: flex;
    flex-direction: column;
}

.content,
.sidebar {
    width: 100%;
}

@media (min-width: 640px) {
    body {
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .content {
        width: calc(50% - 20px);
    }

    .sidebar {
        width: calc(50% - 20px);
    }
}
